body {
			margin: 10% 0 5% 15%;
			max-width: 737px;

		}

		table:hover {
			box-shadow: 8px 8px 0 black;
		}

		h1 {
			font-size: 24px;
			font-family: 'Poppins';
			font-weight: 900;
			font-style: italic;
			border-bottom: 4px solid black;
			width: 182px;
			line-height: 20px;
		}

		p, a  {
			font-size: 14px;
			font-family: 'arial';
			font-weight: 400;
			color: black;
			width: 40%;
			margin-left: 40px;
			display: block;
			font-weight: bold;
			text-decoration: none;
		}

		p.desc {
			margin-left: 0px;
			font-weight: normal;
		}

		a {
		  margin-bottom: 8px;

		}

		h1:hover {
			border-bottom: 4px dashed black;
		}

		#nav {
			margin: 10% 0 0 15%;
			
		}

		.hidecontent {
    	display: none;
		}
		
		#myaccordion label {
			display: block;
			font-family: 'VT323';
			font-size: 24px;
			color: black;
			margin-bottom: 20px;
			text-decoration: none;
		}

		#myaccordion label:hover {
			text-shadow: -1px -1px 0px green;
			
		}

		.content {
			
		}

		#myaccordion input:checked + label + .content {
			display: block;
			webkit-animation: fadeIn 0.5s ease-out;
			-moz-animation: fadeIn 0.5s ease-out;
			-o-animation: fadeIn 0.5s ease-out;
			animation: fadeIn 0.5s ease-out;
		}

		@-webkit-keyframes fadeIn {
			0% {
				display: none;
				opacity: 0;
			}
			1% {
				display: block;
				opacity: 0;
			}
			100% {
				display: block;
				opacity: 1;
			}
		}
		.ritz .waffle a { color: inherit; }
        .ritz .waffle .s0 {
            background-color: #efefef;
            text-align: left;
            font-weight: bold;
            color: #000000;
            font-family: 'VT323';
            font-size: 12pt;
            vertical-align: bottom;
            white-space: nowrap;
            direction: ltr;
            padding: 2px 3px 2px 3px;
        }
        .ritz .waffle .s0:hover {
        	background-color: pink;
            cursor: crosshair;
        }

        .ritz .waffle .s1 {
            background-color: #ffffff;
            text-align: left;
            color: #000000;
            font-family: 'VT323';
            font-size: 12pt;
            vertical-align: bottom;
            white-space: nowrap;
            direction: ltr;
            padding: 2px 3px 2px 3px;

        }
        .ritz .waffle .s1:hover {
            background-color: #000;
            color: white;
            cursor: crosshair;
        }
        img {
            height: 290px;
            margin-top: 40px;
            margin-right: 16px;
        }
        img:hover {
        	cursor: crosshair;
        	box-shadow: 8px 8px 0px black;
        	
        }
