
		body {
			margin: 10% 0 5% 15%;
			max-width: 737px;
		}

.carpet {
  background-image: url("https://cssinate.com/assets/8bit/carpet.gif");
  image-rendering: pixelated;
  background-size: 5vmin 7.5vmin; /* 25% larger */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 125vw; /* 25% larger */
  height: 7.5vmin; /* 25% larger */
}

.window {
  background-image: url("img/clouds.gif");
  image-rendering: pixelated;
  background-size: cover;
  position: fixed;
  bottom: 18.75vmin; /* 25% larger */
  left: 9.375vmin; /* 25% larger */
  width: 24.375vmin; /* 25% larger */
  height: 15vmin; /* 25% larger */
}

.cube {
  background-image: url("https://cssinate.com/assets/8bit/cube.gif");
  image-rendering: pixelated;
  background-size: cover;
  position: fixed;
  bottom: 6.875vmin; /* 25% larger */
  right: 6.25vmin; /* 25% larger */
  width: 31.25vmin; /* 25% larger */
  height: 18.75vmin; /* 25% larger */
}

.watercooler {
  background-image: url("img/cooler.gif");
  image-rendering: pixelated;
  background-size: cover;
  position: fixed;
  bottom: 6.875vmin; /* 25% larger */
  right: 42.5vmin; /* 25% larger */
  width: 5vmin; /* 25% larger */
  height: 15vmin; /* 25% larger */
}

.plant {
  background-image: url("img/plant.gif");
  image-rendering: pixelated;
  background-size: cover;
  position: fixed;
  bottom: 6.875vmin; /* 25% larger */
  right: 50vmin; /* Adjusted position to the left of watercooler */
  width: 2.5vmin; /* 50% smaller */
  height: 7.5vmin; /* 50% smaller */
}


		table:hover {
			box-shadow: 8px 8px 0 black;
		}

		li {
			list-style-type: square;
  			list-style-position: inside;
  			display: inline;
  			font-style: italic;
		}

		h1 {
			font-size: 24px;
			font-family: 'Poppins';
			font-weight: 900;
			font-style: italic;
			border-bottom: 4px solid black;
			width: 182px;
			line-height: 20px;
		}

		p, a  {
			font-size: 14px;
			font-family: 'arial';
			font-weight: 400;
			color: black;
			width: 40%;
			margin-left: 40px;
			display: block;
			font-weight: bold;
			text-decoration: none;
		}

		p.desc {
			margin-left: 0px;
			font-weight: normal;
		}

		a {
		  margin-bottom: 8px;

		}

		h1:hover {
			border-bottom: 4px dashed black;
		}

		#nav, #content {
			margin: 10% 0 0 15%;
		}

		.hidecontent {
    	display: none;
		}
		
		#myaccordion label {
			display: block;
			font-family: 'VT323';
			font-size: 24px;
			color: black;
			margin-bottom: 20px;
			text-decoration: none;
		}

		#myaccordion label:hover {
			text-shadow: -1px -1px 0px green;
			
		}

		.content {
			
		}

		#myaccordion input:checked + label + .content {
			display: block;
			webkit-animation: fadeIn 0.5s ease-out;
			-moz-animation: fadeIn 0.5s ease-out;
			-o-animation: fadeIn 0.5s ease-out;
			animation: fadeIn 0.5s ease-out;
		}

		@-webkit-keyframes fadeIn {
			0% {
				display: none;
				opacity: 0;
			}
			1% {
				display: block;
				opacity: 0;
			}
			100% {
				display: block;
				opacity: 1;
			}
		}
		.ritz .waffle a { color: inherit; }
        .ritz .waffle .s0 {
            background-color: #efefef;
            text-align: left;
            font-weight: bold;
            color: #000000;
            font-family: 'VT323';
            font-size: 12pt;
            vertical-align: bottom;
            white-space: nowrap;
            direction: ltr;
            padding: 2px 3px 2px 3px;
        }
        .ritz .waffle .s0:hover {
        	background-color: pink;
            cursor: crosshair;
        }

        .ritz .waffle .s1 {
            background-color: #ffffff;
            text-align: left;
            color: #000000;
            font-family: 'VT323';
            font-size: 12pt;
            vertical-align: bottom;
            white-space: nowrap;
            direction: ltr;
            padding: 2px 3px 2px 3px;

        }
        .ritz .waffle .s1:hover {
            background-color: #000;
            color: white;
            cursor: crosshair;
        }
        img {
            height: 290px;
            margin-top: 40px;
            margin-right: 16px;
        }
        img:hover {
        	cursor: crosshair;
        	box-shadow: 8px 8px 0px black;
        	
        }